.home-index

  .intro
    margin-bottom: 30px
    h1
      margin: 0 0 15px 0
      font-size: 30px
      line-height: 45px
      a
        @extend .bold
        &:hover
          color: $hover-color

  @media (min-width: $screen-sm)
    .intro
      margin-bottom: 80px
      h1
        margin: 0 0 50px 0
        font-size: 55px
        a
          border-bottom: 6px solid $base-color
          &:hover
            border-color: $hover-color
      .lead
        margin-bottom: 40px
        line-height: 36px

  .steps
    margin-bottom: 55px
    .lead
      margin-bottom: 35px

  .step
    margin-bottom: 25px
    padding: 20px 25px 22px 25px
    border-radius: 4px
    border: 2px solid $border-color
    &__title
      +font-family($proxima-font-family, 400)
      margin-left: 38px
      padding-bottom: 4px
      font-size: 15px
      text-transform: uppercase
      border-bottom: 2px solid $base-color
      display: inline-block
    &__body
      padding-top: 10px
    $icons: "netguru_review", "your_idea", "dhhs_response"
    @each $icon in $icons
      &.#{$icon}
        background: image-url('icons/#{$icon}.png') no-repeat 26px 23px
