.pongs-new, .pongs-create

  .rockets
    margin: 25px auto 20px auto
  .box
    margin-bottom: 35px

  @media (min-width: $screen-sm)
    .rockets
      margin: 45px auto 30px auto
    .box
      margin-bottom: 75px

.pongs-show

  .full-screen-container
    padding: 0 40px

  .player
    padding: 0 10px
