%section.share.border-top-bottom
  .row
    .col-lg-12
      %p.lead.text-center= label
  .row
    .col-lg-4.col-lg-offset-2
      = custom_fb_sharer
      = custom_twitter_sharer({ text: twt[:text], via: twt[:via] })
