%section.share.border-top-bottom
  .row
    .col-lg-12
      %p.lead.text-center= label
  .row
    .col-lg-3.col-lg-offset-3
      = custom_twitter_sharer({ text: twt[:text], via: twt[:via] })
    .col-lg-3
      = custom_fb_sharer
