%section.accepted.border-top#accepted
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h3.text-center Join the discussion
        %p.lead.text-center Here we go! 5 pongs selected for DHH
