%section.process.border-top
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h3.text-center How does it work?
        %p.lead.text-center Submit your code. Win the review round. Get a response from DHH. Profit.
    .row
      .col-lg-10.col-lg-offset-1
        .browser
          .browser__bar
            %span.browser__bar__spot
            %span.browser__bar__spot
            %span.browser__bar__spot
          .browser__body
            = image_tag 'page.png'
