%section.process.border-top.hidden-xs#how-to
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h3.text-center How does it work?
        %p.lead.text-center Submit your code. Get a response from DHH. Profit.
    .row
      .col-lg-10.col-lg-offset-1
        .browser
          .browser__bar
            %span.browser__bar__spot
            %span.browser__bar__spot
            %span.browser__bar__spot
          .browser__body
            = image_tag 'page.png'
            - [['comments', 'Everybody can comment', 'left'], ['your-entry', 'Your entry', 'right'], ['dhhs-response', "DHH's response", 'right'], ['votes', 'Community votes', 'right']].each do |css_class, text, placement|
              %span.spot{ class: css_class, title: text, rel: 'tooltip', data: { toggle: 'tooltip', placement: placement, trigger: 'manual' } }
