%p.lead
  Every now end then you can find #{link_to "David Heinemeier Hansson", "http://david.heinemeierhansson.com"} arguing with some poor folk, why some abstraction is not needed, and why given example could be done perfectly fine with stuff you can already find in rails.
%p.lead
  Recently, #{link_to "in this discussion", "https://news.ycombinator.com/item?id=7335211"} he suggested that he would love to do some more ping-pong over the code, since the abstract discussion itself feels weary.
%p.lead
  So here we go. Submit gist + description and maybe we can get DHH to present his version.

%h1 Latest DHHs Code Ping Pongs
%hr
%ul
  = render pongs
