%section.intro
  .container
    .row
      %p.rockets
        %span.green
        %span.red
        %span.shadow
    .row
      .col-lg-10.col-lg-offset-1.text-intro
        %h1.text-center
          Code Ping Pong with #{link_to 'DHH', 'http://david.heinemeierhansson.com', target: :blank }
        %p.lead.text-center
          Recently, #{link_to "in this discussion", "https://news.ycombinator.com/item?id=7335211"} he mentioned, that would love to do some more ping-pong over the code, instead of going into abstract debates.
        %p.text-center
          = link_to 'Submit your ping-pong for DHH', new_pong_path, class: 'btn--lg'
= render 'shared/share', label: 'Pretty cool, huh? Share!', twt: { text: 'What an awesome way to learn coding!', via: 'netguru' }
%section.steps
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h3.text-center How does it work?
        %p.lead.text-center Only 3 steps lorem ipsum dolores Ania copy master.
    .row
      .col-md-4
        .step.your_idea
          %h5.step__title Your idea
          %p.step__body Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
      .col-md-4
        .step.netguru_review
          %h5.step__title Netguru review
          %p.step__body
            After
            %strong 23-03-2014
            we will choose
            %strong 5 best entries
            for DHH. Lorem ipusm dolores is simply a dummy text.
      .col-md-4
        .step.dhhs_response
          %h5.step__title DHH'S RESPONSE
          %p.step__body Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
