%h5.step__title DHH's response
%p.step__body We present DHH with 5 winning entries and... he replies (yup, #{link_to "he said YES", "https://netguru.co/blog/posts/code-ping-pong-with-dhh", target: :blank})! PING PONG! Say goodbye to vague architectural debates. This game is all about code cases.
