.container
  - if accepted_pongs.present?
    .row
      .col-lg-12
        %h2 Accepted ping-pongs (#{accepted_pongs.count})
    .pongs.border-bottom= render accepted_pongs
  - if pending_pongs.present?
    .row
      .col-lg-12
        %h2 Pending ping-pongs (#{pending_pongs.count})
    .pongs.border-bottom= render pending_pongs
