.container
  .row
    .col-lg-12
      %h2 Accepted ping-pongs
  .pongs.border-bottom= render accepted_pongs
  .row
    .col-lg-12
      %h2 Pending ping-pongs
  .pongs.border-bottom= render pending_pongs
