.full-screen-container
  .row
    = render 'pongs/player/player', dhh: false
    = render 'pongs/player/player', dhh: true
  .row
    = render 'pongs/player/gist', dhh: false
    = render 'pongs/player/gist', dhh: true
