.full-screen-container
  .row
    .col-lg-6
      .player
        .row
          .col-lg-12
            %script{ src: "#{pong.gist}.js" }
    .col-lg-6
      .player
        - if pong.accepted?
          .row
            .col-lg-12
              %script{ src: "#{pong.dhh_gist}.js" }
