.navbar
  &__header
    a
      @extend %light
      padding-bottom: 4px
      font-size: 23px
      line-height: 52px
      display: inline-block
  &__links
    @extend %horizontal-list
    &__user
      margin: 7px 0 0 11px
      display: inline-block
      img
        +circle(38px)
    .btn--sm
      margin-top: 10px
  &__socials
    margin: 12px 0 0 15px
    .tweet-box
      position: relative
      top: 4px
    .fb-like-box
      margin-right: 7px
