%footer.border-top
  %p.text-center
    %strong Thank you!
    Made with
    = image_tag 'love.png', alt: 'love'
    by
    = link_to 'netguru.co', 'https://netguru.co', target: :blank
  .socials
    = follow_on_twitter_button('https://twitter.com/netguru')
    = follow_on_fb_button('https://www.facebook.com/netguru')
