%footer.border-top
  %p.text-center
    %strong Thank you!
    Made with
    = image_tag 'love.png', alt: 'love'
    by
    = link_to 'netguru.co', 'https://netguru.co', target: :blank
  %p.text-center.socials
    = link_to 'Follow @netguru', 'https://twitter.com/netguru', class: 'twitter-follow-button', data: { show_count: 'false', lans: 'en' }
