%header
  %nav.navbar.border-bottom
    .container
      .navbar__header.pull-left
        = link_to 'Code Ping Pong', root_path
      = render 'layouts/navigation/socials'
      %ul.navbar__links.pull-right
        = render 'layouts/navigation/links'
